.bc {
  text-align: center ; width: 100% ; position: relative ; top: 35vh 
 }
.infographic {
width: 95vw ;
margin-inline: auto;
}
.next {
background : #2e8cff ;
color: white ;
padding: 6.5px 20px ;
border-radius: 20px ;
border: 1px solid black ;
display: inline ;
}
