.question {
font-size: 30px ;
font-family: arial , sans-serif ;
}
.options {
font-family: arial , sans-serif ;
font-size: 28px ;
background: white ;
border: 3px solid black;
border-radius : 5px ;
padding: 10px ;
display: block ;
width: 100% ;
margin-block : 10px ;
color: black ;
}
.status {
display: none ;
border: 2px solid purple ;
border-radius: 10px ;
background: #e2a3ff ;
padding: 10px ;
font-family: arial , sans-serif ;
margin-block : 25px ;
margin-bottom: 60px ;
text-align: center ;
}
.con {
display: none ;
}
#Que-1 {
display: block;
}
.forward {
background : #2e8cff ;
color: white ;
padding: 6.5px 20px ;
border-radius: 20px ;
border: 1px solid black ;
display: inline;
}
