body {
background: white ;
}
video {
width: 90vw ;
height: auto ;
margin: auto 3vw ;
}
.next {
background : #2e8cff ;
color: white ;
padding: 6.5px 20px ;
border-radius: 20px ;
border: 1px solid black ;
display: inline ;
}
